:root {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
}

/* Hide scrollbar */
html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}


body {
    font-family: monospace;
    line-height: 1.8;
    color: var(--text-color);
    background-color: var(--bg-color);
    padding-top: 10%;
    padding-left: 20%;
    transition: background-color 0.3s, color 0.3s;
}

#essay {
    padding-right: 20%;
    padding-bottom: 10%;
    font-family: serif;
    font-size: 17px;
}

.name {
    font-size: 20px;
    padding-bottom: 12px;
}

.about-text {
    padding-top: 12px;
    padding-left: 8px;
}

ol {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    font-size: 16px;
    padding-left: 0%;
    padding-left: 8px;
}

a {
    margin-bottom: 4px;
    text-decoration: none;
    color: inherit;    
}

ul {
    list-style-type: none;
    padding-left: 8px;
}

li {
    padding-bottom: 0;
}

#quote:hover,
a:hover {
    color: #ffd700;
}

body.dark-mode a:hover {
    color: #2eafd0;
}

#quote {
    color: rgb(255, 255, 175);
}

body.dark-mode #quote {
    color: #6faab8;
}

body.dark-mode #quote:hover {
    color: #03cdff;
}

.circle-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffd700;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, opacity 0.3s;
}

body .circle-button:hover {
    background-color: #fff7cc;
}

body.dark-mode {
    --bg-color: #baffd823;
    --text-color: rgb(22, 22, 22);
}

body.dark-mode .circle-button {
    background-color: #1a1a1ab9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

body.dark-mode .circle-button:hover {
    background-color: #1a1a1a;
}

.photo-page {
    padding-left: 0;
    padding-top: 15%;
}

.photo-album {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40vh;
    gap: 20px;
    margin: 0 auto;
}

#photo {
    max-width: 35vw;
    max-height: 80vh;
    object-fit: cover;
}

.nav-btn {
    font-size: 12px;
    padding: 20% 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(244, 0, 0, 0);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

body.dark-mode .nav-btn {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

body.dark-mode .nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.close-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.social-icon {
    width: 28px;
    height: 28px;
    margin-top: 10px;
    padding-left: 7px;
    filter: invert(1);
}

body.dark-mode .social-icon {
    filter: invert(0.1);
    transition: filter 0.2s;
}

.social-icon:hover {
    filter: invert(0.7);
    transition: filter 0.2s;
}

body.dark-mode .social-icon:hover {
    filter: invert(0.5);
    transition: filter 0.3s;
}

@media (max-width: 800px) {
    li {
        padding-bottom: 18px;
    }

    body,
    .about-text,
    ol,
    ul {
        padding-left: 0;
    }

    .circle-button {
        top: auto;
        opacity: 1;
    }

    .photo-page {
        padding-top: 30%;
    }

    #photo {
        max-width: 80vw;
        max-height: 60vh;
        object-fit: fill;
    }

    .social-icon {
        padding-left: 0;
    }

    #essay {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media (height < 720px) or (width > 720px) {
    .photo-page {
        padding-top: 15%;
    }

}

@media (height < 720px) and (width > 720px) {
    .photo-page {
        padding-top: 25%;
    }

}