:root {
    --bg-color: #baffd823;
    --text-color: rgb(22, 22, 22);
}

body {
    font-family: monospace;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    padding-top: 10%;
    padding-left: 20%;
    transition: background-color 0.3s, color 0.3s;
}

.name {
    font-size: 20px;
    padding-bottom: 12px;
}

.about-text {
    padding-top: 12px;
    padding-left: 8px;
}

ol {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    font-size: 16px;
    padding-left: 0%;
    padding-left: 8px;
}

a {
    margin-bottom: 4px;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding-left: 8px;
}

li {
    padding-bottom: 0;
}

@media (max-width: 768px) {
    li {
        padding-bottom: 18px;
    }

    body,
    .about-text,
    ol,
    ul {
        padding-left: 0;
    }
}

.circle-button {
    position: fixed;
    bottom: 15%;
    right: 15%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1a1a1ab9;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, opacity 0.3s;
}

body .circle-button:hover {
    background-color: #1a1a1a;
}



body.dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
}

body.dark-mode .circle-button {
    background-color: #ffd700;
}

body.dark-mode .circle-button:hover {
    background-color: #fff7cc;
}